h1::after{
    content: " -";
}
h2::before{
    content: "*";
}
::selection{
    color: red;
    background-color: yellow;
}
.capital::first-letter{
    color: red;
    font-size: xx-large;
}
p::first-line{
    font-weight: bold;
}
li::marker{
    color:red;
}
input{
    display:flex;
    justify-content: space-between;
    margin: 1dvh 0;
}
input::placeholder{
    color:orange;
}